@import "Variables.scss";

@import "App.Products.scss";
@import "App.Products.Home.scss";
@import "App.Products.Create.scss";
@import "App.Thread.New.scss";
@import "App.Settings.scss";

body {
    /* for non-responsiveness */
    min-width: 1020px;
    word-wrap: break-word;
}

/* for non-responsiveness */
.container {
    max-width: none !important;
    width: $page-width;
}

.main-content-column {
    padding-left: 0;
    padding-right: $default-gutter / 2;
}

.side-bar-column {
    padding-left: 0;
    padding-right: 0;
}

.ms-card {

    margin-bottom: $gutter-md / 2;
    .ms-card-header {
        padding: 0.4rem 0.6rem;
        background-color: $gray-lightest;
        margin-bottom: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        font-weight: bold;

        &:first-child {
            border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
        }
    }

    .ms-card-subheader {
        padding: $default-gutter / 2;
        background-color: $gray-lightest;
        border-bottom: 1px solid $default-border-color;

        .fa {
            margin-right: 0.25rem;
        }

        button.btn {
            a {
                text-decoration: none;
                color: white;

                &:visited {
                    color: white;
                }
            }
        }
    }
}

div.app-container {
    margin-top: $gutter-md;
}

.nav-container {
    border-bottom: 1px solid $default-border-color;

    nav.navbar-top {

        ul.navbar-nav {
            position: relative;

            li.nav-item {
                &.active div.navbar-dropdown-menu-wrapper {
                    display: block;
                }
            }
        }

        ul.navbar-with-dropdown-menu {

            li.nav-item {
                position: relative;

                span.navbar-profile-picture {
                    background-image: url(//lh3.googleusercontent.com/-H2ScI8V-1xg/AAAAAAAAAAI/AAAAAAAAAAA/AKTaeK8czqkxYdwopYXdhpuVeaF4UeJ28w/s32-c-mo/photo.jpg);
                    height: 32px;
                    width: 32px;
                    background-size: 32px 32px;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    top: 2px;
                }

                i.navbar-profile-picture-dropdown-button {
                    margin-left: 36px;
                }
            }
        }


        .navbar-dropdown-menu-wrapper {
            display: none;

            ul.navbar-dropdown-menu {
                position: absolute;
                width: 190px;
                right: 0;
                list-style: none;
                background-color: white;
                border: 1px solid $default-border-color;
                padding: 3px 0;
                z-index: 100;
                right: 0;
                left: auto;
                margin-top: 10px;

                &::before {
                    top: -16px;
                    right: 9px;
                    left: auto;
                    border: 8px solid transparent;
                    border-bottom-color: $default-border-color;
                    position: absolute;
                    display: inline-block;
                    content: "";
                }

                &::after {
                    top: -14px;
                    right: 10px;
                    left: auto;
                    border: 7px solid transparent;
                    border-bottom-color: #fff;
                    position: absolute;
                    display: inline-block;
                    content: "";
                }

                li.navbar-dropdown-menu-item {

                    a {
                        padding: 5px 10px;
                        display: block;
                        color: inherit;
                        text-decoration: none;

                        &:hover {
                            background-color: $brand-primary;
                            color: white;
                        }
                    }

                    &.navitem-header {
                        padding: 5px 10px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }

                    &.navbar-item-divider {
                        border-bottom: 1px solid $default-border-color;
                        margin-bottom: 3px;
                    }
                }
            }
        }
    }
}

.timeline-blankslate {
    position: relative;
    padding: 30px;
    text-align: center;
    background-color: $gray-lightest;
    border: 1px solid $default-border-color;
    border-radius: $border-radius-sm;
    color: $gray-light;

    .timeline-blankslate-icon {
        font-size: 2rem;
    }

    .timeline-blankslate-primary-message {
    }

    .timeline-blankslate-secondary-message {
    }
}

.validation-summary-errors {
    color: $brand-danger;
}

.btn-transparent {
    background: none;
    border: none;
    padding: 0;
}

.btn-click {
    cursor: pointer;
}
