.product-home-wrapper .product-header {
  display: flex; }
  .product-home-wrapper .product-header .header-side {
    width: 113px; }
    .product-home-wrapper .product-header .header-side .header-avatar {
      width: 100px;
      height: 100px;
      background-image: url("/Content/Images/MSLogo.png");
      background-size: 100px 100px; }
  .product-home-wrapper .product-header .header-main {
    flex: 1; }
    .product-home-wrapper .product-header .header-main h3.header-title {
      margin-top: 5px;
      margin-bottom: 0; }
    .product-home-wrapper .product-header .header-main .header-subtitle {
      color: #818a91;
      margin-bottom: 15px; }
    .product-home-wrapper .product-header .header-main .header-actions .like-button {
      margin-left: 13px;
      box-sizing: border-box; }
      .product-home-wrapper .product-header .header-main .header-actions .like-button .fa {
        color: #55595c; }
      .product-home-wrapper .product-header .header-main .header-actions .like-button span {
        margin-left: 5px; }
    .product-home-wrapper .product-header .header-main .header-actions .watch-button {
      margin-left: 13px;
      box-sizing: border-box; }
      .product-home-wrapper .product-header .header-main .header-actions .watch-button .fa {
        color: #55595c; }
      .product-home-wrapper .product-header .header-main .header-actions .watch-button span {
        margin-left: 5px; }
    .product-home-wrapper .product-header .header-main .header-actions .facebook-button {
      margin-left: 13px;
      color: white;
      width: 50px;
      background-color: #305cbb; }
    .product-home-wrapper .product-header .header-main .header-actions .twitter-button {
      margin-left: 13px;
      color: white;
      width: 50px;
      background-color: #00aced; }

.product-home-wrapper .product-body {
  margin-top: 13px; }
  .product-home-wrapper .product-body nav.navbar-product {
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #f7f7f9;
    border-radius: 0.25rem; }
    .product-home-wrapper .product-body nav.navbar-product a.navbar-product-item {
      color: #373a3c;
      display: inline-block;
      padding: 10px 15px; }
      .product-home-wrapper .product-body nav.navbar-product a.navbar-product-item .fa {
        color: #d0d5d8; }
      .product-home-wrapper .product-body nav.navbar-product a.navbar-product-item .navbar-product-item-text {
        margin-left: 3px; }
      .product-home-wrapper .product-body nav.navbar-product a.navbar-product-item:hover {
        text-decoration: none;
        color: black; }
      .product-home-wrapper .product-body nav.navbar-product a.navbar-product-item.active {
        border-top: 1px solid #d9534f;
        background-color: #eceeef; }
        .product-home-wrapper .product-body nav.navbar-product a.navbar-product-item.active .fa {
          color: #b5bcc0; }
  .product-home-wrapper .product-body .product-nav-content {
    margin-top: 13px; }
    .product-home-wrapper .product-body .product-nav-content .col-main {
      padding-left: 15px;
      padding-right: 13px;
      float: left;
      box-sizing: border-box;
      width: calc(100% - 128px); }
    .product-home-wrapper .product-body .product-nav-content .col-side {
      padding-left: 0;
      padding-right: 15px;
      float: left;
      box-sizing: border-box;
      width: 128px; }
  .product-home-wrapper .product-body .product-thread-table {
    margin-top: 13px; }
    .product-home-wrapper .product-body .product-thread-table .product-thread-table-header {
      background-color: #f7f7f9;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      border: 1px solid rgba(0, 0, 0, 0.125);
      padding-left: 1.5rem;
      padding-right: 1.5rem; }
      .product-home-wrapper .product-body .product-thread-table .product-thread-table-header a {
        display: inline-block;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        text-decoration: none;
        color: #373a3c; }
        .product-home-wrapper .product-body .product-thread-table .product-thread-table-header a.open {
          font-weight: 500; }
          .product-home-wrapper .product-body .product-thread-table .product-thread-table-header a.open span {
            padding-left: 3px; }
        .product-home-wrapper .product-body .product-thread-table .product-thread-table-header a.closed {
          color: #818a91;
          margin-left: 0.75rem; }
          .product-home-wrapper .product-body .product-thread-table .product-thread-table-header a.closed span {
            padding-left: 2px; }
    .product-home-wrapper .product-body .product-thread-table .product-thread-table-body {
      min-height: 300px;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.125);
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem; }
      .product-home-wrapper .product-body .product-thread-table .product-thread-table-body .product-thread-table-row {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        overflow: hidden;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
        .product-home-wrapper .product-body .product-thread-table .product-thread-table-body .product-thread-table-row .col-1 {
          padding-left: 1.5rem;
          padding-right: 0.75rem;
          float: left;
          box-sizing: border-box;
          width: 40px; }
        .product-home-wrapper .product-body .product-thread-table .product-thread-table-body .product-thread-table-row .col-2 {
          padding-left: 0.375rem;
          padding-right: 0.375rem;
          float: left;
          box-sizing: border-box;
          width: 25px;
          color: #5cb85c; }
        .product-home-wrapper .product-body .product-thread-table .product-thread-table-body .product-thread-table-row .col-3 {
          padding-left: 0;
          padding-right: 0;
          float: left;
          box-sizing: border-box;
          width: 500px; }
          .product-home-wrapper .product-body .product-thread-table .product-thread-table-body .product-thread-table-row .col-3 .title {
            font-weight: 500; }
          .product-home-wrapper .product-body .product-thread-table .product-thread-table-body .product-thread-table-row .col-3 .subtitle {
            font-size: 0.875rem;
            color: #55595c; }

