.settings-home-wrapper .settings-header {
  display: flex; }
  .settings-home-wrapper .settings-header .header-side {
    width: 63px; }
    .settings-home-wrapper .settings-header .header-side .header-avatar {
      width: 50px;
      height: 50px;
      background-image: url("/Content/Images/MSLogo.png");
      background-size: cover; }
  .settings-home-wrapper .settings-header .header-main {
    flex: 1; }
    .settings-home-wrapper .settings-header .header-main h3.header-title {
      margin-top: 5px;
      margin-bottom: 0; }
    .settings-home-wrapper .settings-header .header-main .header-subtitle {
      color: #818a91;
      margin-bottom: 15px; }

.settings-wrapper {
  margin-top: 13px; }
  .settings-wrapper .settings-content {
    padding: 0; }
  .settings-wrapper .settings-side .list-group a {
    text-decoration: none; }
  .settings-wrapper .settings-side .list-group .list-group-item {
    color: #000; }
    .settings-wrapper .settings-side .list-group .list-group-itemhover {
      background-color: #f7f7f9; }
  .settings-wrapper .settings-side .list-group .active {
    background-color: #eceeef;
    border-color: #eceeef;
    border-left: 3px solid #373a3c; }

.categories-actions {
  margin-bottom: 13px; }

