.nav-container nav.navbar-top .brand-wrapper .navbar-logo {
  width: 20px;
  position: relative;
  top: -2px; }

.nav-container nav.navbar-top .brand-wrapper #matterspace-logo {
  padding-left: 4px; }

.site-footer {
  position: relative;
  padding-top: 26px;
  padding-bottom: 26px;
  margin-top: 26px;
  font-size: 12px;
  line-height: 1.5;
  color: #767676;
  border-top: 1px solid #eee; }
  .site-footer .site-footer-links {
    margin: 0;
    list-style: none;
    padding: 0; }
    .site-footer .site-footer-links li {
      display: inline-block;
      line-height: 16px; }
      .site-footer .site-footer-links li + li {
        margin-left: 10px; }

.product-home-wrapper .product-header {
  display: flex; }
  .product-home-wrapper .product-header .header-side {
    width: 113px; }
    .product-home-wrapper .product-header .header-side .header-avatar {
      width: 100px;
      height: 100px;
      background-image: url("/Content/Images/MSLogo.png");
      background-size: 100px 100px; }
  .product-home-wrapper .product-header .header-main {
    flex: 1; }
    .product-home-wrapper .product-header .header-main h3.header-title {
      margin-top: 5px;
      margin-bottom: 0; }
    .product-home-wrapper .product-header .header-main .header-subtitle {
      color: #818a91;
      margin-bottom: 15px; }
    .product-home-wrapper .product-header .header-main .header-actions .like-button {
      margin-left: 13px;
      box-sizing: border-box; }
      .product-home-wrapper .product-header .header-main .header-actions .like-button .fa {
        color: #55595c; }
      .product-home-wrapper .product-header .header-main .header-actions .like-button span {
        margin-left: 5px; }
    .product-home-wrapper .product-header .header-main .header-actions .watch-button {
      margin-left: 13px;
      box-sizing: border-box; }
      .product-home-wrapper .product-header .header-main .header-actions .watch-button .fa {
        color: #55595c; }
      .product-home-wrapper .product-header .header-main .header-actions .watch-button span {
        margin-left: 5px; }
    .product-home-wrapper .product-header .header-main .header-actions .facebook-button {
      margin-left: 13px;
      color: white;
      width: 50px;
      background-color: #305cbb; }
    .product-home-wrapper .product-header .header-main .header-actions .twitter-button {
      margin-left: 13px;
      color: white;
      width: 50px;
      background-color: #00aced; }

.product-home-wrapper .product-body {
  margin-top: 13px; }
  .product-home-wrapper .product-body nav.navbar-product {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
    .product-home-wrapper .product-body nav.navbar-product a.navbar-product-item {
      color: #373a3c;
      display: inline-block;
      padding: 10px 15px; }
      .product-home-wrapper .product-body nav.navbar-product a.navbar-product-item .fa {
        color: #d0d5d8; }
      .product-home-wrapper .product-body nav.navbar-product a.navbar-product-item .navbar-product-item-text {
        margin-left: 3px; }
      .product-home-wrapper .product-body nav.navbar-product a.navbar-product-item:hover {
        text-decoration: none;
        color: black; }
      .product-home-wrapper .product-body nav.navbar-product a.navbar-product-item.active {
        border-bottom: 2px solid #d9534f; }
        .product-home-wrapper .product-body nav.navbar-product a.navbar-product-item.active .fa {
          color: #b5bcc0; }
  .product-home-wrapper .product-body .product-nav-content {
    margin-top: 13px; }
    .product-home-wrapper .product-body .product-nav-content .col-main {
      padding-left: 13px;
      padding-right: 13px;
      float: left;
      box-sizing: border-box;
      width: calc(100% - 128px); }
    .product-home-wrapper .product-body .product-nav-content .col-side {
      padding-left: 0;
      padding-right: 13px;
      float: left;
      box-sizing: border-box;
      width: 128px; }
  .product-home-wrapper .product-body .product-thread-table {
    margin-top: 13px; }
    .product-home-wrapper .product-body .product-thread-table .product-thread-table-header {
      background-color: #f7f7f9;
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      border: 1px solid rgba(0, 0, 0, 0.125);
      padding-left: 1.5rem;
      padding-right: 1.5rem; }
      .product-home-wrapper .product-body .product-thread-table .product-thread-table-header a {
        display: inline-block;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        text-decoration: none;
        color: #373a3c; }
        .product-home-wrapper .product-body .product-thread-table .product-thread-table-header a.open {
          font-weight: 500; }
          .product-home-wrapper .product-body .product-thread-table .product-thread-table-header a.open span {
            padding-left: 3px; }
        .product-home-wrapper .product-body .product-thread-table .product-thread-table-header a.closed {
          color: #818a91;
          margin-left: 0.75rem; }
          .product-home-wrapper .product-body .product-thread-table .product-thread-table-header a.closed span {
            padding-left: 2px; }
    .product-home-wrapper .product-body .product-thread-table .product-thread-table-body {
      min-height: 300px;
      border-width: 0 1px 1px 1px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.125);
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem; }
      .product-home-wrapper .product-body .product-thread-table .product-thread-table-body .product-thread-table-row {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        overflow: hidden;
        border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
        .product-home-wrapper .product-body .product-thread-table .product-thread-table-body .product-thread-table-row .col-1 {
          padding-left: 1.5rem;
          padding-right: 0.75rem;
          float: left;
          box-sizing: border-box;
          width: 40px; }
        .product-home-wrapper .product-body .product-thread-table .product-thread-table-body .product-thread-table-row .col-2 {
          padding-left: 0.375rem;
          padding-right: 0.375rem;
          float: left;
          box-sizing: border-box;
          width: 25px;
          color: #5cb85c; }
        .product-home-wrapper .product-body .product-thread-table .product-thread-table-body .product-thread-table-row .col-3 {
          padding-left: 0;
          padding-right: 0;
          float: left;
          box-sizing: border-box;
          width: 500px; }
          .product-home-wrapper .product-body .product-thread-table .product-thread-table-body .product-thread-table-row .col-3 .title {
            font-weight: 500; }
          .product-home-wrapper .product-body .product-thread-table .product-thread-table-body .product-thread-table-row .col-3 .subtitle {
            font-size: 0.875rem;
            color: #55595c; }

.new-product-wrapper {
  margin: 3rem auto;
  width: 700px; }
  .new-product-wrapper .new-product-header-wrapper {
    margin-bottom: 0.75rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
    .new-product-wrapper .new-product-header-wrapper .new-product-subheader {
      margin-bottom: 0.5rem; }
  .new-product-wrapper .new-product-form {
    margin-top: 1rem; }
    .new-product-wrapper .new-product-form .agreement-label {
      position: relative;
      top: -6px; }
    .new-product-wrapper .new-product-form .submit-button-wrapper {
      margin-top: 2rem; }

.thread-entry {
  display: flex; }
  .thread-entry input, .thread-entry textarea {
    background-color: #f7f7f9; }
    .thread-entry input:focus, .thread-entry textarea:focus {
      background-color: initial; }
  .thread-entry textarea {
    min-height: 300px; }
  .thread-entry .form-actions {
    margin: 10px 0; }
  .thread-entry .user-wrapper {
    flex: 0 1 auto;
    padding: 0 13px 13px 0; }
    .thread-entry .user-wrapper img {
      border-radius: 0.25rem;
      width: 40px;
      height: 40px; }
  .thread-entry .editor-wrapper {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 10px;
    flex: 1 1 auto; }

.settings-home-wrapper .settings-header {
  display: flex; }
  .settings-home-wrapper .settings-header .header-side {
    width: 63px; }
    .settings-home-wrapper .settings-header .header-side .header-avatar {
      width: 50px;
      height: 50px;
      background-image: url("/Content/Images/MSLogo.png");
      background-size: cover; }
  .settings-home-wrapper .settings-header .header-main {
    flex: 1; }
    .settings-home-wrapper .settings-header .header-main h3.header-title {
      margin-top: 5px;
      margin-bottom: 0; }
    .settings-home-wrapper .settings-header .header-main .header-subtitle {
      color: #818a91;
      margin-bottom: 15px; }

.settings-wrapper {
  margin-top: 13px; }
  .settings-wrapper .settings-content {
    padding-left: 0;
    padding-right: 0;
    float: left;
    box-sizing: border-box;
    width: 75%; }
  .settings-wrapper .settings-side {
    padding-left: 13px;
    padding-right: 0;
    float: left;
    box-sizing: border-box;
    width: 25%; }
    .settings-wrapper .settings-side .list-group a {
      text-decoration: none; }
    .settings-wrapper .settings-side .list-group .active {
      border-left: 3px solid #373a3c; }

.categories-actions {
  margin-bottom: 13px; }

body {
  /* for non-responsiveness */
  min-width: 1020px;
  word-wrap: break-word; }

/* for non-responsiveness */
.container {
  max-width: none !important;
  width: 980px; }

.main-content-column {
  padding-left: 0;
  padding-right: 0.75rem; }

.side-bar-column {
  padding-left: 0;
  padding-right: 0; }

.ms-card {
  margin-bottom: 13px; }
  .ms-card .ms-card-header {
    padding: 0.4rem 0.6rem;
    background-color: #f7f7f9;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    font-weight: bold; }
    .ms-card .ms-card-header:first-child {
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; }
  .ms-card .ms-card-subheader {
    padding: 0.75rem;
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
    .ms-card .ms-card-subheader .fa {
      margin-right: 0.25rem; }
    .ms-card .ms-card-subheader button.btn a {
      text-decoration: none;
      color: white; }
      .ms-card .ms-card-subheader button.btn a:visited {
        color: white; }

div.app-container {
  margin-top: 26px; }

.nav-container {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  .nav-container ul.navbar-nav {
    position: relative; }
    .nav-container ul.navbar-nav li.nav-item.active div.navbar-dropdown-menu-wrapper {
      display: block; }
  .nav-container ul.navbar-with-dropdown-menu li.nav-item {
    position: relative; }
    .nav-container ul.navbar-with-dropdown-menu li.nav-item span.navbar-profile-picture {
      background-image: url(//lh3.googleusercontent.com/-H2ScI8V-1xg/AAAAAAAAAAI/AAAAAAAAAAA/AKTaeK8czqkxYdwopYXdhpuVeaF4UeJ28w/s32-c-mo/photo.jpg);
      height: 32px;
      width: 32px;
      background-size: 32px 32px;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 2px; }
    .nav-container ul.navbar-with-dropdown-menu li.nav-item i.navbar-profile-picture-dropdown-button {
      margin-left: 36px; }
  .nav-container .navbar-dropdown-menu-wrapper {
    display: none; }
    .nav-container .navbar-dropdown-menu-wrapper ul.navbar-dropdown-menu {
      position: absolute;
      width: 190px;
      right: 0;
      list-style: none;
      background-color: white;
      border: 1px solid rgba(0, 0, 0, 0.125);
      padding: 3px 0;
      z-index: 100;
      right: 0;
      left: auto;
      margin-top: 7px; }
      .nav-container .navbar-dropdown-menu-wrapper ul.navbar-dropdown-menu::before {
        top: -16px;
        right: 9px;
        left: auto;
        border: 8px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.125);
        position: absolute;
        display: inline-block;
        content: ""; }
      .nav-container .navbar-dropdown-menu-wrapper ul.navbar-dropdown-menu::after {
        top: -14px;
        right: 10px;
        left: auto;
        border: 7px solid transparent;
        border-bottom-color: #fff;
        position: absolute;
        display: inline-block;
        content: ""; }
      .nav-container .navbar-dropdown-menu-wrapper ul.navbar-dropdown-menu li.navbar-dropdown-menu-item a {
        padding: 5px 10px;
        display: block;
        color: inherit;
        text-decoration: none; }
        .nav-container .navbar-dropdown-menu-wrapper ul.navbar-dropdown-menu li.navbar-dropdown-menu-item a:hover {
          background-color: #0275d8;
          color: white; }
      .nav-container .navbar-dropdown-menu-wrapper ul.navbar-dropdown-menu li.navbar-dropdown-menu-item.navitem-header {
        padding: 5px 10px;
        text-overflow: ellipsis;
        overflow: hidden; }
      .nav-container .navbar-dropdown-menu-wrapper ul.navbar-dropdown-menu li.navbar-dropdown-menu-item.navbar-item-divider {
        border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        margin-bottom: 3px; }

.timeline-blankslate {
  position: relative;
  padding: 30px;
  text-align: center;
  background-color: #f7f7f9;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.2rem;
  color: #818a91; }
  .timeline-blankslate .timeline-blankslate-icon {
    font-size: 2rem; }

.validation-summary-errors {
  color: #d9534f; }

.btn-transparent {
  background: none;
  border: none;
  padding: 0; }

.btn-click {
  cursor: pointer; }

/* Flex utilities */
.fi-grow {
  flex: 1 1 auto; }

