@import "Variables.scss";
@import "Mixins.scss";

// header
@mixin header-action() {
    margin-left: $gutter-md / 2;
    box-sizing: border-box;

    .fa {
        color: $gray;
    }

    span {
        margin-left: 5px;
    }
}

@mixin social-media-action() {
    margin-left: $gutter-md / 2;
    color: white;
    width: 50px;
}

.product-home-wrapper {
    .product-header {
        display: flex;

        $avatar-size: 100px;

        .header-side {
            width: $avatar-size + $gutter-md / 2;

            .header-avatar {
                width: $avatar-size;
                height: $avatar-size;
                background-image: url('/Content/Images/MSLogo.png');
                background-size: 100px 100px;
            }
        }

        .header-main {
            flex: 1;

            h3.header-title {
                margin-top: 5px;
                margin-bottom: 0;
            }

            .header-subtitle {
                color: $gray-light;
                margin-bottom: 15px;
            }

            .header-actions {

                .like-button {
                    @include header-action();
                }

                .watch-button {
                    @include header-action();
                }

                .facebook-button {
                    @include social-media-action();
                    background-color: $facebook-bg-color;
                }

                .twitter-button {
                    @include social-media-action();
                    background-color: $twitter-bg-color;
                }
            }
        }
    }

    .product-body {
        margin-top: $gutter-md / 2;

        nav.navbar-product {
            border: 1px solid $default-border-color;
            background-color: $gray-lightest;
            border-radius: $border-radius;

            a.navbar-product-item {
                color: $gray-dark;
                display: inline-block;
                padding: 10px 15px;

                .fa {
                    color: darken($gray-lighter, 10%);
                }

                .navbar-product-item-text {
                    margin-left: 3px;
                }

                &:hover {
                    text-decoration: none;
                    color: black;
                }

                &.active {
                    border-top: 1px solid $brand-danger;
                    background-color: $gray-lighter;

                    .fa {
                        color: darken($gray-lighter, 20%);
                    }
                }
            }
        }

        .product-nav-content {
            margin-top: $gutter-md / 2;

            $col-side-width: 128px; // this is so the + New button will align with the social buttons
            .col-main {
                @include col-right-offset($col-side-width, $grid-gutter-width-base / 2);
            }

            .col-side {
                @include col-fixed($col-side-width, 0, $grid-gutter-width-base / 2);
            }
        }

        .product-thread-table {
            margin-top: $default-gutter /2;

            .product-thread-table-header {
                background-color: $gray-lightest;
                border-top-left-radius: $border-radius;
                border-top-right-radius: $border-radius;
                border: 1px solid $default-border-color;
                padding-left: $default-gutter;
                padding-right: $default-gutter;

                a {
                    display: inline-block;
                    padding-top: $default-gutter /2;
                    padding-bottom: $default-gutter /2;
                    text-decoration: none;
                    color: $gray-dark;


                    &.open {
                        font-weight: 500;

                        span {
                            padding-left: 3px;
                        }
                    }

                    &.closed {
                        color: $gray-light;
                        margin-left: $default-gutter /2;

                        span {
                            padding-left: 2px;
                        }
                    }
                }
            }

            .product-thread-table-body {
                min-height: 300px;
                border-width: 0 1px 1px 1px;
                border-style: solid;
                border-color: $default-border-color;
                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
            }
        }
    }
}
