@import "Variables.scss";
@import "Mixins.scss";

.settings-home-wrapper {
    .settings-header {
        display: flex;

        $avatar-size: 50px;

        .header-side {
            width: $avatar-size + ($gutter-md / 2);

            .header-avatar {
                width: $avatar-size;
                height: $avatar-size;
                background-image: url('/Content/Images/MSLogo.png');
                background-size: cover;
            }
        }

        .header-main {
            flex: 1;

            h3.header-title {
                margin-top: 5px;
                margin-bottom: 0;
            }

            .header-subtitle {
                color: $gray-light;
                margin-bottom: 15px;
            }
        }
    }
}


.settings-wrapper {
    margin-top: $gutter-md / 2;

    .settings-content {
        @include col(75%, 0, 0);
    }

    .settings-side {
        @include col(25%, $paddingRight: 0);



        .list-group {

            a.list-group-item {
                text-decoration: none;
                color: $gray-dark !important;

                &:hover {
                    background-color: $gray-lightest !important;
                }
            }

            .active {
                border-left: 3px solid $gray-dark;
            }
        }
    }
}

.categories-actions {
    margin-bottom: $gutter-md / 2;
}
