@import "Variables.scss";

.thread-entry {
    input, textarea {
        background-color: $gray-lightest;
        &:focus {
            background-color: initial;
        }
    }

    textarea {        
        min-height: 300px;
    }

    .form-actions {
        margin: $gutter-sm/2 0;
    }
    
    display: flex;

    .user-wrapper {
        flex: 0 1 auto;
        padding: 0 $gutter-sm/2 $gutter-sm/2 0;
        img {
            border-radius: $border-radius-sm;
            width: 40px;
            height: 40px;
        }
    }

    .editor-wrapper {
        border: 1px solid $default-border-color;
        border-radius: $border-radius-sm;
        padding: $gutter-sm/ 2;
        flex: 1 1 auto;
    }

}