body {
  /* for non-responsiveness */
  min-width: 1020px;
  word-wrap: break-word; }

/* for non-responsiveness */
.container {
  max-width: none !important;
  width: 980px; }

div.app-container {
  margin-top: 15px; }

nav.navbar {
  border-bottom: 1px solid #eceeef;
  border-radius: 0; }
  nav.navbar ul.navbar-nav {
    position: relative; }
    nav.navbar ul.navbar-nav li.nav-item.active div.navbar-dropdown-menu-wrapper {
      display: block; }
  nav.navbar ul.navbar-with-dropdown-menu li.nav-item {
    position: relative; }
    nav.navbar ul.navbar-with-dropdown-menu li.nav-item span.navbar-profile-picture {
      background-image: url(//lh3.googleusercontent.com/-H2ScI8V-1xg/AAAAAAAAAAI/AAAAAAAAAAA/AKTaeK8czqkxYdwopYXdhpuVeaF4UeJ28w/s32-c-mo/photo.jpg);
      height: 32px;
      width: 32px;
      background-size: 32px 32px;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 2px; }
    nav.navbar ul.navbar-with-dropdown-menu li.nav-item i.navbar-profile-picture-dropdown-button {
      margin-left: 36px; }
  nav.navbar .navbar-dropdown-menu-wrapper {
    display: none; }
    nav.navbar .navbar-dropdown-menu-wrapper ul.navbar-dropdown-menu {
      position: absolute;
      width: 190px;
      right: 0;
      list-style: none;
      background-color: white;
      border: 1px solid #eceeef;
      padding: 3px 0;
      z-index: 100;
      right: 0;
      left: auto;
      margin-top: 10px; }
      nav.navbar .navbar-dropdown-menu-wrapper ul.navbar-dropdown-menu::before {
        top: -16px;
        right: 9px;
        left: auto;
        border: 8px solid transparent;
        border-bottom-color: #eceeef;
        position: absolute;
        display: inline-block;
        content: ""; }
      nav.navbar .navbar-dropdown-menu-wrapper ul.navbar-dropdown-menu::after {
        top: -14px;
        right: 10px;
        left: auto;
        border: 7px solid transparent;
        border-bottom-color: #fff;
        position: absolute;
        display: inline-block;
        content: ""; }
    nav.navbar .navbar-dropdown-menu-wrapper ul.navbar-dropdown-menu li.navbar-dropdown-menu-item {
      font-size: 0.9em;
      font-size: 0.9em; }
      nav.navbar .navbar-dropdown-menu-wrapper ul.navbar-dropdown-menu li.navbar-dropdown-menu-item a {
        padding: 5px 10px;
        display: block;
        color: inherit;
        text-decoration: none; }
        nav.navbar .navbar-dropdown-menu-wrapper ul.navbar-dropdown-menu li.navbar-dropdown-menu-item a:hover {
          background-color: #0275d8;
          color: white; }
      nav.navbar .navbar-dropdown-menu-wrapper ul.navbar-dropdown-menu li.navbar-dropdown-menu-item.navitem-header {
        padding: 5px 10px;
        text-overflow: ellipsis;
        overflow: hidden; }
      nav.navbar .navbar-dropdown-menu-wrapper ul.navbar-dropdown-menu li.navbar-dropdown-menu-item.navbar-item-divider {
        border-bottom: 1px solid #eceeef;
        margin-bottom: 3px; }

.timeline-blankslate {
  position: relative;
  padding: 30px;
  text-align: center;
  background-color: #f7f7f9;
  border: 1px solid #eceeef;
  border-radius: 0.2rem;
  color: #818a91; }
  .timeline-blankslate .timeline-blankslate-icon {
    font-size: 2em; }

