.hero {
    background: url(/Content/images/hero.png) center left / cover no-repeat #072C45;
    margin-left: -15px;
    margin-right: -15px;
    color: white;
    text-align: center;
    padding: 15px;
}

    .hero .main-message {
        padding-top: 40px;
        font-size: 2.2em;
        margin: 0 auto;
        padding-bottom: 0;
    }

    .hero .secondary-message {
        padding-top: 10px;
        padding-bottom: 0;
        font-size: 1.2em;
    }

    .hero .sign-up-button {
        padding-top: 60px;
    }

    .hero .sign-in-button {
        padding-top: 10px;
        padding-bottom: 40px;
    }

        .hero .sign-in-button a {
            color: white;
            text-decoration: underline;
            padding-bottom: 50px;
        }

.card-wrapper {
    margin-top: 1em;
}

    .card-wrapper .card-title-text {
        margin-left: 6px;
    }

