.signin-signup-card-wrapper {
}

    .signin-signup-card-wrapper .sso-button-text {
        margin-left: 10px;
    }
    
    .signin-signup-card-wrapper .sso-facebook {
        color: white;
        background-color: #496EBC;
        margin-bottom: 1em; /* in mobile devices, the facebook button will be over the google button, so it needs a margin so they don't stack'*/
    }

    .signin-signup-card-wrapper .sso-google {
        color: white;
        background-color: #DC4E42;
    }

    .signin-signup-card-wrapper .sign-in-via {
    }

    .signin-signup-card-wrapper .sign-in-or {
        margin-top: 1em;
    }

    .signin-signup-card-wrapper .forgot-password {
        position: relative;
        margin-top: -10px;
        margin-bottom: 1.1em;
        font-size: 0.9em;
    }

    .signin-signup-card-wrapper .keep-me-signed-in {
        margin-top: 0.6em;
    }

    .signin-signup-card-wrapper .validation-summary-errors {
    }

        .signin-signup-card-wrapper .validation-summary-errors ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }


    .signin-signup-card-wrapper .header-logo {
        position: relative;
        margin-right: 4px;
        top: -1px;
    }


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {

    .signin-signup-card-wrapper {
        margin: 20px auto;
        max-width: 400px;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .signin-signup-card-wrapper .facebook-signin-wrapper .sso-facebook {
        margin-bottom: 0; /* in mobile devices, the facebook button will be over the google button, so it needs a margin so they don't stack'*/
    }

    .signin-signup-card-wrapper {
        margin: 100px auto;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
