body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.hero {
    background: url(/Content/images/hero.png) center left / cover no-repeat #0079bf;
    margin-left: -15px;
    margin-right: -15px;
    color: white;
    text-align: center;
    padding: 15px;
}

.hero .main-message {
    padding-top: 40px;
    font-size: 2.2em;
    margin: 0 auto;
    padding-bottom: 0;
}

.hero .secondary-message {
    padding-top: 10px;
    padding-bottom: 0;
    font-size: 1.2em;
}

.hero .sign-up-button {
    padding-top: 60px;
}

.hero .sign-in-button {
    padding-top: 10px;
    padding-bottom: 40px
}

.hero .sign-in-button a {
    color: white;
    text-decoration: underline;
    padding-bottom: 50px;
}