
@{
    Layout = null;
}

<div class="container">
    <div class="site-footer">
        <ul class="site-footer-links">
            <li>© 2016 <span>Matterspace</span>, Inc.</li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="/p/matterspace">Help</a></li>
            <li><a href="#">API</a></li>
            <li><a href="#">Integrations</a></li>
        </ul>
    </div>
</div>