@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @RenderSection("scripts", required: false)
}

<nav class="navbar navbar-light bg-faded">
    <div class="container">
        @Html.ActionLink("Matterspace", "Index", "Home", null, new { @class = "navbar-brand" })
        @Html.Partial("_LoginPartial")
    </div>
</nav>    


@RenderBody()


