@model Matterspace.Models.ThreadViewModel

@{ 
    Layout = "~/Views/Shared/_LayoutContainer.cshtml";
}

@Html.Partial("~/Views/Shared/Product/_ProductPartial.cshtml", Model.Product)

<div class="product-home-wrapper">
    <div class="product-body">
        <div class="product-nav-content">
            @RenderBody()
        </div>
    </div>
</div>