@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @RenderSection("scripts", required: false)
}

<nav class="navbar navbar-light bg-faded">
    @Html.ActionLink("Matterspace", "Index", "Home", null, new { @class = "navbar-brand" })
    @Html.Partial("_LoginPartial")
</nav>

@RenderBody()


