<nav class="navbar navbar-light bg-faded">
    <div class="container">
        <span class="brand-wrapper">
            <a class="navbar-brand" href="#">
                <img src="/Content/Images/MSLogo-xs.png" class="navbar-logo" />
            </a>
            @Html.ActionLink("Matterspace", "Index", "Home", null, new { @class = "navbar-brand", id = "matterspace-logo" })
        </span>
        <ul class="nav navbar-nav navbar-with-dropdown-menu float-xs-right">
            <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="Create new...">
                <a class="nav-link" href="#">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                </a>
                <div class="navbar-dropdown-menu-wrapper">
                    <ul class="navbar-dropdown-menu">
                        <li class="navbar-dropdown-menu-item">
                            <a href="#">New product</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="View profile and more">
                <a class="nav-link" href="#">
                    <span class="navbar-profile-picture"></span>
                    <i class="fa fa-caret-down navbar-profile-picture-dropdown-button" aria-hidden="true"></i>
                </a>
                <div class="navbar-dropdown-menu-wrapper">
                    <ul class="navbar-dropdown-menu">
                        <li class="navbar-dropdown-menu-item">
                            <a href="#">New product</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        @*
            This page will be displayed for non-logged users only... however, for the future, this is how to do sign-off
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                }
        *@
    </div>
</nav>
