<nav class="navbar navbar-light bg-faded">
    <div class="container">
        <span class="brand-wrapper">
            <a class="navbar-brand" href="#">
                <img src="/Content/Images/MSLogo-xs.png" class="navbar-logo" />
            </a>
            @Html.ActionLink("Matterspace", "Index", "Home", null, new { @class = "navbar-brand" })
        </span>
        @Html.Partial("_LoginPartial")
    </div>
</nav>