@model Matterspace.Models.ProductViewModel

@{
    Layout = "~/Views/Shared/_LayoutContainer.cshtml";
}

@Html.Partial("~/Views/Shared/Product/_ProductPartial.cshtml", Model)

<div class="product-home-wrapper">
    <div class="product-body">
        <div class="product-nav-content">
            @*Content goes here*@
        </div>
    </div>
</div>