body {
    background-color: #e0e0e0 !important;
    margin: 0 !important;
    padding: 0 !important;
    max-height: 100% !important;
    max-width: 100% !important;
}

.drawer-container {
    z-index: 0 !important;
    padding-top: 56px !important;
}

.bottom-div {
    background: #e0e0e0 !important;
    float: right !important;
    width: 100% !important;
    position: absolute !important;
    bottom: 0 !important;
}