@{
    ViewBag.Title = "Home Page";
    Layout = "../Shared/_LayoutContainerFluid.cshtml";
}
<div class="hero">
    <div class="main-message">
        Engage with your customers.
        Collect user feedback.<br />
        Prioritize your roadmap.
        Deliver what matters.
    </div>
    <div class="secondary-message">
        Matterspace fills the gap between products and users.
    </div>
    <div class="sign-up-button">
        <button type="button" class="btn btn-lg btn-success">Sign up - It's free.</button>
    </div>
    <div class="sign-in-button">
        Already use Matterspace? @Html.ActionLink("Sign in", "Login", "Account").
    </div>
</div>
