@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <div class="hero">
        <div class="main-message">
            Engage with your customers.
            Collect user feedback.<br />
            Prioritize your roadmap.
            Deliver what matters.
        </div>
        <div class="secondary-message">
            Matterspace is the interface between your product and the world.
        </div>
        <div class="sign-up-button">
            <button type="button" class="btn btn-lg btn-success">Sign up - It's free.</button>
        </div>
        <div class="sign-in-button">
            Already use Matterspace? @Html.ActionLink("Sign in", "Login", "Account").
        </div>
    </div>
</div>