@{
    ViewBag.Title = "Matterspace";
    Layout = "../Shared/_LayoutContainerFluid.cshtml";
}
<div class="hero">
    <div class="main-message">
        <span class="hero-sentence">Engage with your customers.</span>
        <span class="hero-sentence">Collect user feedback.</span>
        <span class="hero-sentence">Prioritize your roadmap.</span>
        <span class="hero-sentence">Deliver what matters.</span>
</div>
    <div class="secondary-message">
        Matterspace fills the gap between products and users. <br/>
        Create a community for your app or website in 5 minutes.
    </div>
    <div class="sign-up-button">
        <button type="button" class="btn btn-lg btn-success">Sign up - It's free.</button>
    </div>
    <div class="sign-in-button">
        Already use Matterspace? @Html.ActionLink("Sign in", "Login", "Account").
    </div>
</div>
<div class="container card-wrapper">
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card">
                <h5 class="card-header">
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    <span class="card-title-text">
                        Feedback management
                    </span>
                </h5>
                <div class="card-block">
                    <p class="card-text">
                        Collect and organize ideas and suggestions from your users.
                    </p>
                    <p class="card-text">
                        Prioritize the features in your roadmap based on insights from your customer feedback.
                    </p>
                    <p class="card-text"><small class="text-muted">All features are optional. <a href="#">See an example</a>.</small></p>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">
                    <i class="fa fa-bug" aria-hidden="true"></i>
                    <span class="card-title-text">
                        Issues tracking
                    </span>
                </h5>
                <div class="card-block">
                    <p class="card-text">
                        Collect bug-reports and provide timely support to your customers.
                    </p>
                    <p class="card-text">
                        Matterspace provides full-featured web APIs and webhooks so it can be easily integrated with <a href="https://www.atlassian.com/software/jira">Jira</a>, <a href="https://www.jetbrains.com/youtrack/">YouTrack</a>, <a href="https://github.com/">GitHub</a>, <a href="https://www.visualstudio.com/tfs/">TFS</a> and other services.
                    </p>
                    <p class="card-text"><small class="text-muted">All features are optional. <a href="#">See an example</a>.</small></p>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">
                    <i class="fa fa-question-circle" aria-hidden="true"></i>
                    <span class="card-title-text">
                        Questions and answers
                    </span>
                </h5>
                <div class="card-block">
                    <p class="card-text">
                        Matterspace provides a place for your users to ask for help and get answers, both from your team and the community.
                    </p>
                    <p class="card-text">
                        Engage with your users and build an online, SEO friendly knowledge base.
                    </p>
                    <p class="card-text"><small class="text-muted">All features are optional. <a href="#">See an example</a>.</small></p>
                </div>
            </div>

        </div>
    </div>

</div>