@model Matterspace.Models.ProductViewModel

<div class="settings-home-wrapper">
    <div class="settings-header">
        <div class="header-side">
            <div class="header-side">
                <div class="header-avatar">
                </div>
            </div>
        </div>
        <div class="header-main">
            <h3 class="header-title">
                @ViewBag.Title
            </h3>
            <p class="header-subtitle">
                @Model.ShortDescription
            </p>            
        </div>
        @*<div class="header-secondary pull-right">            
        </div>*@
    </div>
</div>

