@using Matterspace.Model.Enums
@model Matterspace.Models.SettingsViewModel

@{
    Layout = "_LayoutSettings.cshtml";
    var getIconClass = new Func<ThreadType, string>((type) =>
    {
        switch (type)
        {
            case (ThreadType.Idea): return "fa-lightbulb-o";
            case (ThreadType.Issue): return "fa-exclamation";
            case (ThreadType.QA): return "fa-question";
            default: return "";
        }
    });
}

<div class="card">
    <div class="card-header">
        Categories
    </div>
    <div class="card-block">
        <div class="categories-actions">
            <div class="pull-right">
                <a class="btn btn-success btn-block" href="@Url.Action("NewCategory")">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    New Category
                </a>
            </div>
        </div>
        @foreach (var category in Model.Product.Categories)
        {
            <div class="category-display row">
                <div class="col-xs-12">
                    <div class="col-xs-1">
                        <div class="pull-right">
                            <i class="fa @getIconClass(category.ThreadType)" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        @category.Name<br />
                    </div>
                    <div class="col-xs-3">
                        <div class="pull-right">
                            <a href="@Url.Action("EditCategory", new { id = category.Id })">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>

                            @using (Html.BeginForm("DeleteCategory", "Settings", new { Id = category.Id }, FormMethod.Post))
                            {
                                <button class="btn-transparent btn-click" type="submit">
                                    <i class="fa fa-remove" aria-hidden="true"></i>
                                </button>
                            }
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        }
    </div>
</div>