@model Matterspace.Models.SettingsViewModel

@{
    Layout = "_LayoutSettings.cshtml";
}

<div class="card">
    <div class="card-header">
        Product information
    </div>
    <div class="card-block">
        @using (Html.BeginForm("Save", "Settings", FormMethod.Post, new { id = "thread-form" }))
        {
            @Html.HiddenFor(x => x.Product.Id);
            @Html.Partial("_EditSettingsPartial", Model)
        }
    </div>
</div>