@model Matterspace.Models.SettingsViewModel

@{
    Layout = "_LayoutSettings.cshtml";
}

<div class="card">
    <div class="card-header">
        Integrations
    </div>
    <div class="card-block">
        
    </div>
</div>