<appSettings>
  <add key="google-clientid" value="[secret]"/>
  <add key="google-clientsecret" value="[secret]"/>

  <add key="facebook-appid" value="[secret]" />
  <add key="facebook-appsecret" value="[secret]" />
  <add key="facebook-userinformationendpoint" value="https://graph.facebook.com/v2.4/me?fields=id,name,email,first_name,last_name,picture" />
</appSettings>
