<appSettings>
  <add key="google-clientid" value="[secret]"/>
  <add key="google-clientsecret" value="[secret]"/>

  <add key="facebook-appid" value="[secret]" />
  <add key="facebook-appsecret" value="[secret]" />
  
  <add key="mailgun-apipublickey" value="[secret]" />
  <add key="mailgun-apisecretkey" value="[secret]" />
</appSettings>