@model Matterspace.Models.CreateProductViewModel

@{
    ViewBag.Title = "Create new product";
    Layout = "../Shared/_LayoutContainer.cshtml";
}

<div class="new-product-wrapper">
    <h3 class="new-product-header">Create new product</h3>    
    <p class="new-product-subheader">This will create a community for your product</p>
</div>

