@model Matterspace.Models.ProductViewModel

@{
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}

<div class="product-home-wrapper">
    <div class="product-header">
        <div class="container">
            <div class="avatar-wrapper">
                <div class="avatar">
                </div>
        </div>
    </div>
</div>

<div class="container app-container">
    
</div>

@Html.Partial("_FooterPartial")
