@model Matterspace.Models.ProductViewModel

@{
    ViewBag.Title = this.Model.DisplayName + " · Matterspace";
    Layout = "../Shared/_LayoutContainer.cshtml";
}

<div class="new-product-wrapper">
    
</div>
